* {
  margin: 0;
  padding: none; 
}

/* Estiliza o título principal */
.header {
  border: 2px solid red;
  margin: auto;
  padding: 30px 50px 30px 50px;
  background-color: rgb(212, 212, 199);
  height: 15px;
  
}
.tittle {
  text-align: center;
  margin: -10px;
  font-family: 'Castoro Titling', cursive;
  color: rgb(99, 99, 99);
 }
.tittle:hover {
  font-style:oblique;
}

/* Estiliza a barra de navegação */
nav {
  border: 2px solid yellow;
  height: 30px;
  background-color: rgb(229, 230, 220)
}

.navegadores {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: rgb(99, 99, 99);
  margin: 10px;
 
}
.navegadores:active {
  cursor: pointer;
  font-weight: lighter;
}
.navegadores:hover {
  font-size:1.2em;
  color: white;
  text-decoration: none;
  -webkit-text-stroke: 2px rgb(82, 82, 82); 
  transition-timing-function: ease-in-out;
}

/* Seção 2 */
.article1 {
  background-color: rgb(241, 242, 235);
 
  
}
/* Estiliza a imagem do perfil */
.profile-picture {
 width: 300px;
 height: 300px;
}

/* Estiliza a seção sobre mim */
.me {
  border: 2px solid blue;
}

.article2 {
  background-color: rgb(241, 242, 235);
}

.contact-me {
  background-color: rgb(241, 242, 235);
}

#myskills {
  text-align: center;
}

.hard-skills {
  display: block;
  width: 50%;
  height: 20%;
  margin-left:10px;
  padding: 10px;
  text-align: center;
  background-color: rgb(212, 212, 199);
  border-radius: 50px;
  line-height: 2.5;
  background: rgb(212, 212, 199)  ;
  box-shadow: 20px 20px 60px #d0d8ca, -20px -20px 60px #abb6ae;
}

.soft-skills{
  display: block;
  width: 20%;
    height: 50%;
    margin-left: 100px;
    padding: 10px;
    text-align: left;
    background-color: rgb(212, 212, 199);
    border-radius: 50px;
    line-height: 2.5;
    line-height: 2.5;
    background: rgb(212, 212, 199);
    box-shadow: 20px 20px 60px #d0d8ca, -20px -20px 60px #abb6ae;
}

footer {
  background-color: rgb(212, 212, 199);
  height:80px;
}

section h3 ul li {
  list-style: none;
  text-align: center;
}

h4 {
  text-align: center;
}