* {
  margin: 0;
  padding:
}

/* Estiliza o título principal */
.header {
  border: 2px solid red;
  margin: auto;
  padding: 30px 50px 30px 50px;
}

.tittle {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

/* Estiliza a imagem do perfil */
.profile-picture {
  max-width: auto;
  }

.image {
  width: 200px;
  border-radius: 10%;
}

.sobre-mim {
  
}

.p1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: -150px;
}