* {
  margin: 0;  
  padding: 0;
}
/* Define a fonte padrão e a cor de fundo da página */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #c4c4c4c5;
}

/* Estiliza o título principal */
.head {
  border: 5px solid yellow;
  margin: auto;
  }
  
 .header {
  border: 2px solid red;
 }
/* Estiliza a imagem do perfil */
.profile-picture{
  border: 5px solid green;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 10%;
  display: inline;
  float: left;
  }
/* Estiliza o parágrafo "Sobre mim" */
.sobre-mim {
  border: 2px solid blue;
  text-align: justify;
  font-size: 18px;
 }

.me {
  display: inline-block;
  float: right;
}
